

@model Web.Models.CourseViewModels.CourseViewModel

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Browse Courses";
}

<!--CARD WIDGETS START-->
<div id="card-widgets">
    <div class="row" id="coursesContainer">
        
        @if (Model.Courses.Count == 0)
        {
            <div class="col s12 center-align">
                <img alt="Nothing here to display." src="~/images/nothinghere.gif" style="width: 100%;" />
            </div>
        }

        @for (var i = 0; i < Model.Courses.Count(); i++)
        {
            var course = Model.Courses[i];
            var modules = course.Modules.ToList();
            <!-- Course card-->
            <div class="col s12 m6 l4">
                <div class="course-card">
                    <div class="card" style="margin-top: 10px; padding-bottom: 20px; margin-bottom: 20px;">
                        <!-- Card image -->
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="@Url.Action("Image", "Course", new {id = course.Id})" alt="blog-img">
                        </div>
                        <!-- The special info button -->
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating btn-large tooltipped waves-effect waves-light grey" data-position="top" data-tooltip="See info">
                                    <i class="mdi-communication-live-help activator"></i>
                                </a>
                            </li>
                            @if (User.IsInRole("Student") && !Model.MyCourses.Any(c => c.Id == course.Id))
                            {
                                <li>
                                    <a href="@Url.Action("Partikip", "Course", new {courseId = course.Id})" class="btn waves-effect cyan white-text flow-text  tooltipped" data-position="top" data-tooltip="Follow this course" style="font-size: 12px;"><strong>Partikip</strong></a>
                                </li>
                            }
                        </ul>
                        <!-- Card info text -->
                        <div class="card-content">
                            <!-- Master course title and date added -->
                            <p class="row">
                                <span class="left">
                                    <b>#@course.HashTag</b>
                                </span>
                                <span class="right">
                                    @course.TimeStamp.ToString("g")
                                </span>
                            </p>
                            <!-- All the rouds -->
                            <div class="row center-align" style="padding-left: 50px;">

                                @for (var j = 0; j < course.Modules.Count; j++)
                                {
                                    var module = modules[j];
                                    <div class="fixed-action-btn" style="position: relative; display: inline-block; bottom: 0px;">
                                        <a href="@Url.Action("Index", "Module", new {moduleId = module.Id})" class="btn-floating tooltipped red darken-2 animated unlocked" data-position="top" data-tooltip="@module.Title">
                                            #@(j + 1)
                                        </a>
                                    </div>
                                }
                            </div>
                            <!-- Course title and author -->
                            <div class="row col s12">
                                <h4 class="card-title grey-text text-darken-4">
                                    @course.Title
                                </h4>
                            </div>
                            <div class="row col s12">
                                By
                                <a href="#">@course.Author</a>
                            </div>
                        </div>
                        <!-- Course short description -->
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="mdi-navigation-close right"></i>
                                @course.Title
                            </span>
                            <p>
                                @course.Description
                            </p>
                            <p>
                                <a href="@course.DataLink">Useful Link</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $('.tooltipped').tooltip({ delay: 50 });
    </script>
}
