@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html lang="en">

<!--================================================================================
Name:  Main template for Solution1.
Version: 0.0.1
Author: FX & Co.
Author URL: https://github.com/tabby336/Solution1
================================================================================ -->

<head>
    <!-- METADATA -->
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Solution1 - The Best Centralized Platform for all your college courses.">
    <meta name="keywords" content="solution, 1, solution1, platform, centralized, college, courses">
    <!-- METADATA END -->
    
    <title>@ViewData["Title"] - Solution1</title>
    
    <!-- FAVICONS -->
    <link rel="icon" href="~/images/icon/favicon_32.png" sizes="32x32">
    <!-- Favicons - for iPhone -->
    <link rel="apple-touch-icon-precomposed" href="~/images/icon/favicon_152.png">
    <!-- Favicons - For Windows Phone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/images/icon/favicon_144.png">
    <!-- FAVICONS END -->
    
    <!-- STYLES -->
    <!-- Import Google Icon Font -->
    <link type="text/css" rel="stylesheet" href="~/lib/materialize/font.css">
    <!-- Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="~/lib/materialize/materialize.css" media="screen" />
    <!-- Import sweetalert(swal).css -->
    <link type="text/css" rel="stylesheet" href="~/lib/sweetalert/sweetalert.css" media="screen" />
    <!-- Import perfect scrollbar.css -->
    <link type="text/css" rel="stylesheet" href="~/lib/perfect-scrollbar/perfect-scrollbar.css">

    @RenderSection("styles", required: false)
    <!-- STYLES END -->
    
</head>
<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <input type="hidden" id="hostName" value="@Url.ActionContext.HttpContext.Request.Host.Host:@Url.ActionContext.HttpContext.Request.Host.Port" />
    @RenderBody()

<!-- SCRIPTS -->
<script src="~/lib/jquery/dist/jquery-2.1.1.min.js"></script>
<script src="~/lib/materialize/materialize.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<script src="~/lib/perfect-scrollbar/perfect-scrollbar.js"></script>

@RenderSection("scripts", required: false)
<!-- SCRIPTS END -->
</body>
</html>
